@use "../base/variables" as v;

.navbar {
  padding: 3vw;

  h1 {
    text-align: center;
    color: v.$dark;
  }

  img {
    width: 40px;
    border-radius: 50%;
  }

  .avatar {
    gap: 8px;

    p {
      margin: 0;
      padding-right: v.$p_col;
    }
  }
}
